@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, sans-serif;
  background-color: #f5f7fa;
}

button {
  transition: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
}
